// Base
@import "base/_variables";
@import "base/_mixins";
@import "base/_reset";

// Layout
@import "layout/_general";
@import "layout/_fonts";

// Page styles
@import "modules/_header";
@import "modules/_info";
@import "modules/_university";
@import "modules/_footer";
@import "modules/_teststart";
@import "modules/_test-mail";
@import "modules/_test-prof";
@import "modules/_test-result";
