.info {
  &__line {
    width: 40%;
    margin: 20px 30% 20px 30%;
    height: 1px;
    background-color: $blue;
    text-align: center;
  }
  &__svg {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__svg .icon {
    width: 150px;
    display: block;
    margin-bottom: 20px;
  }
  &__desc {
    font-size: 16px;
    padding: 0 50px 0 50px;
    margin-bottom: 60px;
    display: block;
    @media (max-width: $mobile) {
      margin-bottom: 20px;
    }
  }

  &__num {
    color: $blue;
  }
}
