.test {
  &__imgbox {
    display: none;
    text-align: center;
    overflow: hidden;
    @media (min-width: $desktop) {
      display: block;
      text-align: center;
    }
  }
  &__imgbox img {
    max-width: 492px;
  }
  &__box {
    display: flex;
    @media (max-width: $desktop) {
      margin-top: 100px;
    }
  }
  &__img {
    margin-top: 20px;
    max-width: 165px;
    @media (min-width: $desktop) {
      display: none;
    }
  }

  &__title {
    font-weight: 500;
    font-size: 18px;
    margin: 30px 10px;
    @media (min-width: $desktop) {
      margin: 140px 10px 20px 10px;
    }
  }
  &__info {
    padding: 10px 0;
  }
  &__desc {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 14px;
  }
  &__button {
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    text-transform: uppercase;
    background-color: $blue;
    padding: 10px 15px;
    border-radius: 20px;
    display: inline-block;
    margin: 10px 0 90px 28%;
    &:hover {
      background-color: $tag;
    }
  }
}
