.result {
  width: 100%;
  padding-bottom: 1px;
  margin-bottom: 1px;
  &__title {
    margin: 140px 0 20px 0;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
  }
  &__box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  &__math {
    line-height: 30px;
    text-align: center;
    background-color: $bgGrey;
    padding: 10px;
    height: 121px;
  }
  &__fantasy {
    background-color: $bgGrey;
    text-align: center;
    padding: 10px;
    height: 121px;
    line-height: 30px;
  }
  &__math--text {
    padding: 10px;
  }
  &__math--text p {
    margin-bottom: 5px;
  }
  &__fantasy--text {
    padding: 10px;
  }
  &__fantasy--text p {
    margin-bottom: 5px;
  }
  &__mail {
    margin-bottom: 20px;
    text-align: center;
  }
  &__prof {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 100%;
  }
  &__button {
    margin-right: 20px;
    background-color: $blue;
    border-radius: 20px;
    padding: 10px 20px;
    margin-bottom: 20px;
    &:hover {
      background-color: $tag;
    }
  }
}
.drow__mail {
  color: $blue;
  font-size: 18px;
  font-weight: 500;
  line-height: 25px;
}
