.mail {
  text-align: center;
  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    margin: 20px 0;
    @media (min-width: $mobile) {
      margin-top: 140px;
    }
  }

  &__input {
    width: 261px;
    height: 42px;
    padding: 0 5px;
    margin-bottom: 35px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2), 0px 2px 2px rgba(0, 0, 0, 0.12),
      0px 0px 2px rgba(0, 0, 0, 0.14);
    border: 1px solid transparent;
    &:focus {
      border: 1px solid $blue;
    }
  }
  &__box {
    display: flex;
  }
  &__checkbox {
    margin: 0px 10px;
  }
  &__label {
    text-align: start;
    font-size: 12px;
    margin-bottom: 185px;
  }
  &__button {
    width: 180px;
    height: 36px;
    font-size: 14px;
    background-color: $blue;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 100px;

    &:hover {
      background-color: $tag;
    }
  }
}
