.jstest span {
  display: block;
  margin: 15px 0;
}

.jstest {
  &__imgbox {
    overflow: hidden;
  }
  &__img {
    max-width: 491px;
    @media (max-width: $mobile) {
      display: none;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    margin-top: 140px;
    @media (max-width: $mobile) {
      margin-top: 100px;
    }
  }
  &__icon .icon {
    width: 70px;
    height: 50px;
    fill: $blue;
    margin: 0 10px 5px 0;
  }
  &__title {
    font-weight: 500;
    font-size: 18px;
  }
  // bar/////////////////////////////////////////////////
  &__bar {
    margin-bottom: 10px;
    width: 100%;
    height: 30px;
    border: 1px solid $tag;
    position: relative;
  }
  &__bar--text {
    margin: 0 !important ;
    font-size: 16px;
    line-height: 29px;
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
  }
  &__bar--line {
    height: 29px;
    background-color: rgba(5, 127, 197, 0.698);
    transition: all 0.6s;
  }
  // end bar////////////////////////////////////////
  &__test {
    display: flex;
    flex-direction: column;
  }
  &__button {
    width: 180px;
    height: 32px;
    border-radius: 20px;
    background-color: $blue;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    margin: 40px auto;
    &:hover {
      background-color: $tag;
    }
  }
  &__error {
    margin-bottom: 40px;
    color: red;
    font-size: 16px;
    text-align: center;
  }
}

.jstest li {
  margin: 10px 0;
}

form p {
  margin: 5px;
}
.quiz__ul {
  list-style-type: decimal;
  margin-left: 20px;
}
label {
  margin: 5px 0;
}
label:hover {
  color: $blue;
}
.blue {
  color: $blue;
}
.radio {
  display: inline;
}
