@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
html {
  min-height: 100%;
  width: 100%;
}

.clear::after,
.clear::before {
  content: " ";
  display: table;
}

.clear::after {
  clear: both;
}
// Main styles
body {
  font-family: "Roboto", sans-serif;
  color: #333;
  font-weight: 400;
}
a,
a:hover {
  color: #fff;
  text-decoration: none;
}
